<ul class="menu contents-menu" onmouseover="document.body.style.overflow='hidden';"
    onmouseout="document.body.style.overflow='auto';">
    <div class="contents-menu-header">
        <span>Table of Contents</span>
        <i class="fa fa-times-circle fa-2x" id="contents-menu-close"></i>
    </div>
    <a href="#sniper">
        <div class="contents-menu-item">
            <p>The Sniper</p>
        </div>
    </a>
    <a href="#victims">
        <div class="contents-menu-item">
            <p>The Victims</p>
        </div>
    </a>
    <a href="#heroes">
        <div class="contents-menu-item">
            <p>The Heroes</p>
        </div>
    </a>
    <a href="#inside-tower">
        <div class="contents-menu-item">
            <p>Inside the Tower</p>
        </div>
    </a>
    <a href="#texan">
        <div class="contents-menu-item">
            <p>The Texan</p>
        </div>
    </a>
</ul>
<div class="contents-menu-scrim" onmouseover="document.body.style.overflow='hidden';"
     onmouseout="document.body.style.overflow='auto';"></div>