<div class="bottom-alert" id="copy-alert">
    <p class="bottom-alert-text" id="copy-alert-text"></p>
</div>
<button class="btn" id="to-top">Back to top</button>
<footer class="wow fadeIn">
    <div class="footer-byline">
        <h3 class="list-header">Contributors</h3>
        <ul class="footer-list">
            <li><b>Writers:</b> Nahila Bonfiglio, Cat Cardenas, Eva Frederick, Megan Hix, Elizabeth Hlavinka, Paula Horstman, Charles Liu, Catherine Marfin, Anna McCreary, Van Nguyen, Jasleen Shokar, Brianna Stone, Aaron Torres, Katie Walsh</li>
            <li><b>Photo/Illustration:</b> Jacky Tovar, Joshua Guerra, Melanie Westfall</li>
            <li><b>Development Team:</b> Junyuan Tan, Tom Li</li>
            <li><b>Managing Editor:</b> Cat Cardenas</li>
        </ul>
    </div>
    <div class="footer-contact">
        <h3 class="list-header">Share this feature</h3>
        <ul class="footer-contact-list">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/tower/" target="_blank">
                <button class="btn share-btn">
                    <i class="fa fa-facebook"></i> Facebook
                </button>
            </a>
            <a href="https://twitter.com/home?status=Five%20decades%20after%20the%20UT%20Tower%20shooting,%20The%20Daily%20Texan%20remembers%20those%20involved.%20http%3A//goo.gl/8RXWJj" target="_blank">
                <button class="btn share-btn">
                    <i class="fa fa-twitter"></i> Twitter
                </button>
            </a>
            <a class="copy-link-btn" data-clipboard-text="http://www.dailytexanonline.com/features/tower/">
                <button class="btn share-btn">
                    <i id="link-share-bottom" class="fa fa-copy"></i> Copy link
                </button>
            </a>
        </ul>
    </div>
    <div class="footer-disclaimer">
        <p>Developed by <a href="http://dailytexanonline.com">The Daily Texan</a>.</p>
        <p>Corrections? Technical difficulties? <a href="mailto:managingeditor@dailytexanonline.com">Let us know.</a></p>
    </div>
</footer>
<script>
    function checkDependencies(){
        var dependencyList = [
            "/features/tower/css/spectre.css",
            "/features/tower/css/font-awesome.min.css",
            "/features/tower/css/animate.css",
            "/features/tower/css/main.css",
            "/features/tower/js/jquery.min.js",
            "/features/tower/js/clipboard.min.js",
            "/features/tower/js/blazy.min.js",
            "/features/tower/js/wow.min.js",
            "/features/tower/js/app.js"
        ];

        for (i = 0; i < dependencyList.length(); i++){
        }
    }
</script>