<div class="bottom-alert" id="copy-alert">
    <p class="bottom-alert-text" id="copy-alert-text"></p>
</div>
<button class="btn" id="to-top">Back to top</button>
<footer class="wow fadeIn">
    <div class="footer-byline">
        <h3 class="list-header">Contributors</h3>
        <ul class="footer-list">
            <li>Managing Editor: Catherine Cardenas</li>
            <li>Writers: John Doe</li>
            <li>Media: John Doe</li>
            <li>Development Team: Junyuan Tan, Tom Li</li>
        </ul>
    </div>
    <div class="footer-contact">
        <h3 class="list-header">Share this feature</h3>
        <ul class="footer-contact-list">
            <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
                <button class="btn share-btn">
                    <i class="fa fa-facebook"></i> Facebook
                </button>
            </a>
            <a href="https://twitter.com/home?status=" target="_blank">
                <button class="btn share-btn">
                    <i class="fa fa-twitter"></i> Twitter
                </button>
            </a>
            <a class="copy-link-btn" data-clipboard-text="http://www.dailytexanonline.com/features/tower/">
                <button class="btn share-btn">
                    <i id="link-share-bottom" class="fa fa-copy"></i> Copy link
                </button>
            </a>
        </ul>
    </div>
    <div class="footer-disclaimer">
        <p>Developed by <a href="http://dailytexanonline.com">The Daily Texan</a>.</p>
        <p>Corrections? Technical difficulties? <a href="managingeditor@dailytexanonline.com?">Let us know.</a></p>
    </div>
</footer>