<header class="navbar-top">
  <a href="#" id="contents-menu-trigger">
      <i class="fa fa-bars fa-2x"></i>
  </a>
  <div id="center-contain">
    <span class="navbar-brand"> The Daily Texan</span>
      <vr></vr>
    <span class="navbar-brand feature">FEATURES</span>
  </div>
  <a href="#" id="share-menu-trigger">
    <i id="share-btn" class="fa fa-share"></i>
  </a>
</header>
<ul class="menu contents-menu">

</ul>
<ul class="menu share-menu">
  <a href="#">
    <p>
      <i data-tooltip="Share on Facebook" id="fb-share" class="fa fa-facebook menu-header-text tooltip-left"></i>
    </p>
  </a>
  <a href="#">
    <p>
      <i data-tooltip="Share on Twitter" id="twitter-share" class="fa fa-twitter menu-header-text"></i>
    </p>
  </a>
  <a href="#">
    <p>
      <i data-tooltip="Copy link" id="link-share" class="fa fa-copy menu-header-text"></i>
    </p>
  </a>
</ul>