// navbar
.navbar-top.small, .navbar-top.fixed.small, .navbar-top.fixed.small.article {
  display: none;
}

.navbar-top.fixed.article {
  background: #fff;
  display: flex !important;
  z-index: 500;

  .navbar-brand {
    color: $grey-color-dark;
  }

  #center-contain-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  a {
    .fa.fa-share:after {
      content: '';
    }

    .fa.fa-close:after {
      content: '';
    }
  }
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  border-bottom: 1px solid $grey-color-dark;
  height: 7vh;
  padding:1em;
  z-index: 500;


  #center-contain {
    line-height: 2.5;
    span {
      color: $grey-color-dark;
    }

    vr {
      border-left-color: $grey-color-dark;
    }
  }

  #share-menu-trigger, #content-menu-trigger, #share-menu-trigger-fixed, #content-menu-trigger-fixed {
    border-radius: 5px;
    border: 1px solid lightgray;
    color: $grey-color-dark;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 2em;
    line-height: 2;
    padding: .5em 1em;
    &:hover, &:active {
      background: darken(#fff, 5%);
    }
    font-weight: 400;
  }

  i {
    color: $grey-color-dark;
  }
}

.navbar-top.fixed {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  border-bottom: 1px solid $grey-color-dark;
  height: 7vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  #center-contain {
    span {
      color: $grey-color-dark;
    }

    vr {
      border-left-color: $grey-color-dark;
    }
  }

  #share-menu-trigger, #content-menu-trigger, #share-menu-trigger-fixed, #content-menu-trigger-fixed {
    border-radius: 5px;
    border: 1px solid lightgray;
    color: $grey-color-dark;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 2em;
    line-height: 2;
    padding: .5em 1em;
    &:hover, &:active {
      background: darken(#fff, 5%);
    }
    font-weight: 400;
  }

  i {
    color: $grey-color-dark;
  }
}

.navbar-brand {
  color: $grey-color-dark;
  font-family: Merriweather, Georgia, Cambria, Times, serif;
  font-size: 1.25em;
  text-align: center;
  line-height: 1;
}

.center-contain {
  display: flex;
  justify-content: center;
}

span.navbar-brand.feature {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  .fa.fa-share:after {
    content: "Share";
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: .5em;
    font-weight: bolder;
  }

  .fa.fa-close:after {
    content: "Close";
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: .5em;
  }
}

// responsive

@media (min-width: 1441px) and (max-width: $xl) {
  .navbar-top {
    height: 4vh;
  }
}


@include media-query($lg) {

}

@include media-query($md) {
  .navbar-top {
    height: 8vh;
  }
}


@include media-query($sm) {
  .navbar-top:not(.small), .navbar-top.fixed:not(.small) {
    display: none !important;
  }
  .navbar-top.fixed.article {
    display: flex !important;

    .navbar-brand {
      color: $grey-color-dark;
    }

    #center-contain-small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    a {
      .fa.fa-share:after {
        content: '';
      }

      .fa.fa-close:after {
        content: '';
      }
    }
  }
  .navbar-top.small, .navbar-top.fixed.small {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 300;
    #center-contain-small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    a {
      .fa.fa-share:after {
        content: '';
      }

      .fa.fa-close:after {
        content: '';
      }
    }
  }
  .navbar-top.fixed.small {
    height: 10vh;
    .navbar-brand {
      color: $grey-color-dark;
    }
    #center-contain-small-fixed {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
}