.byline-illo {
  color: $grey-color;
  font-size: 1rem;
  font-family: Merriweather, Georgia, Cambria, Times, serif;
  margin-top: 1em;
}

.byline-illo.homepage {
  margin-left: 1em;
}

.headline-main {
  color: #fff;
  font-family: Merriweather, Georgia, Cambria, Times, serif;
  font-size: 6em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: .5em;
  text-shadow: 0 1px 0 black;
}

.headline-sub {
  color: #fff;
  font-family: Merriweather, Georgia, Cambria, Times, serif;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: 2em;
  font-style: italic;
  text-shadow: 0 1px 0 black;
}

.headline-byline {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 black;
}

.headline-date {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 black;
}

.container.homepage {
  background: #fff;
  height: 100vh;
  padding: 0;
  display: flex;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

div.container.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
}

div.column.introduction {
  border-bottom: 1px solid lightgray;
  padding: 2em 25vw 2em 25vw;

  p {
    font-family: Merriweather, Georgia, Cambria, Times, serif;
    font-size: 1.75rem;
    line-height: 1.6;
  }

}

div.column.summary {
  border-bottom: 1px solid lightgray;
  padding: 3rem;
  padding-left: 5rem;

  &:last-of-type {
    border-bottom: 0;
  }

  h1.section-head {
    font-style: italic;
  }

  h3.section-subhead {
    color: $grey-color-dark;
    font-size: 1.5em;
  }
}

p.section-summary {
    font-family: Merriweather, Georgia, Cambria, Times, serif;
    font-size: 1.75rem;
    line-height: 1.6;
    margin-right: 25vw;
    margin-bottom: 2em;
}


div.two-panel {
  display: flex;
  flex-direction: row;

  div.col-6 {
    flex: 1;
    padding: 0;
  }
}

div.column.interactive {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 10vw;

  p.small {
    color: #a0a0a0;
    font-size: 1.25rem;
    font-family: Merriweather, Georgia, Cambria, Times, serif;
    margin-top: .5em;
  }

}

// SPECIAL ARTICLE STYLES

div.col-12.article.victim-grid {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem 5rem 5rem;

}

.victim-row {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height: 30px;

  .victim-card {
    background: lightgray;
    background-position: 0 !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;
    align-items: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }
    
    &:hover {
      cursor: pointer;
      cursor: hand;
    }

    .victim-name {
      position: absolute;
      text-shadow: 0 1px 0 black;
      margin-top: 11em;
      font-size: 1em;
      font-weight: 300;
      padding-left: .5em;
      z-index: 10;
    }

  }
}

.victim-row.sm {
  display: none;

  h3.victim-name {
    margin-top: 10em;
  }
}

.victim-card.placeholder {
  background: #fff;
}

.memorial-feature {
  border-top: 1px solid lightgray;
  margin-bottom: 0;
  margin-top: 2em;
  padding-bottom: 0;

  a {
    color: $link-color;
    &:hover {
      color: darken($link-color, 20%);
    }
  }

  .memorial-feature-summary {
    font-family: Merriweather, Georgia, Cambria, Times, serif;
    font-size: 1.75rem;
    line-height: 1.6;
    margin-bottom: 2em;
  }
}

img.memorial {
  width: auto !important;
}

.survivor {
  border-top: 1px solid lightgray;
  margin-top: 3em;
}
// CARDS

.story-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

// Invididual card styles

.story-card {
  border-radius: 5px;
  @include BoxShadow();
  flex: 1;
  margin: 1em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    @include BoxShadowHover();
  }

  .story-card-title {
    color: $link-color;

    &:hover {
      color: darken($link-color, 20%);
    }
  }
}

.story-card-header {
  padding: 2em;
  padding-bottom: .5em;

  a {
    font-size: 1.75em;
    font-family: Merriweather, serif;
  }
}

.story-card-byline {
  font-style: italic;
  color: $grey-color;
}
span.story-card-byline {
  padding-left: 2em;
}
.story-card-content {
  padding: 2em;
  p.story-card-summary, ul, li {
    font-size: 1.1em;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
  }

  ul {
    margin: 0;
  }

  li {
    margin-top: 0;
    list-style-type: none;
    font-style: italic;
    font-size: 1em;
  }
}

.story-card-share {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  padding: 1em 2em;
  margin-bottom: 1em;

  a > i {
    color: $grey-color;
    margin-left: 1em;

    &:hover {
      color: darken($grey-color, 20%);
    }
  }
}


// RESPONSIVE

@include media-query($xl) {

}

@include media-query($lg) {
  .victim-row {
    display: none;
  }
  .victim-row.sm {
    display: flex;
  }
  .victim-row > .victim-card > .victim-name {
    margin-top: 13em;
  }
  #heroes > div.story-card-container {
    flex-direction: column;
    .story-card {
      width: 100%;
      margin: 0;
      margin-bottom: 2em;
    }
  }
  #victims {
    p.section-summary {
      margin-right: 0;
    }
    .memorial-feature {
      p.memorial-feature-summary {
        margin-right: 0;
      }
    }
  }
}

@include media-query($md) {
  .victim-row {
    display: none;
  }
  .victim-row.sm {
    display: flex;
  }
  .headline-main {
    left: .25em;
  }
  .headline-sub {
    left: 1em;
    padding-right: .5em;
  }
  .headline-byline {
    left: 1.5em;
  }
  .headline-date {
    left: 1.5em;
  }
  .col-12.column.introduction {
    padding: 2em 10vw 2em 10vw;
  }
  div.column.article {
    padding-left: 0;
    padding: 3rem;
  }
  .memorial-feature {
    margin-bottom: 0;
    .memorial-feature-summary {
      margin-right: 0;
    }
  }
  p.section-summary {
    margin-right: 0;
  }
  div.col-12.summary.victim-grid {
    padding: 0;
    h1 {
      padding-left: 5rem;
    }
    .section-summary {
      padding: 0 5rem;
    }
  }
  .memorial-feature {
    h3 {
      padding: 0 5rem;
    }
    p.memorial-feature-summary {
      padding: 0 5rem;
    }
  }
  .story-card-header > a.story-card-title {
    font-size: 1.5em;
  }
  .story-card-content p.story-card-summary, .story-card-content ul, .story-card-content li {
    font-size: 1em;
  }
}

@media (min-width: $sm) and (max-width: $md) {
  img.memorial {
    width: 100%;
  }
  .victim-row.sm {
    display: none;
  }
  .victim-row {
    display: flex;
  }
  .container.homepage {
    height: 100vh;
  }
  h1.section-head {
    font-size: 2.5em;
    margin-top: 0;
  }

  .container.summary {
    padding: 0;
  }

  div.column.summary {
    padding-left: 0;
    padding: 3rem;
  }

  div.col-12.summary.victim-grid {
    padding: 3rem 0 0 0;
    h1.section-head {
      padding-left: 3rem;
    }
  }
  .victim-row {
    flex-direction: column;
  }
  p.section-summary {
    padding: 3rem;
    margin: 0;
    margin-bottom: 1em;
  }
  .story-card-container {
    flex-direction: column;
  }
  .story-card {
    margin: 0 0 1em 0;
  }
  div.two-panel {
    flex-direction: column;
    div.col-6 {
      width: 100%;
    }
  }
  .headline-main {
    text-align: center;
    font-size: 6em;
    left: 0;
    top: 40vh;
  }
  .headline-sub {
    text-align: left;
    top: 38vh;
    font-size: 1.25em;
    left: 0;
    padding: 0 1em;
    line-height: 1.6;
  }
  .headline-byline {
    font-size: 1.25rem;
    text-align: left;
    top: 37vh;
    padding: 0 1.5em;
    left: 0;
  }
  .headline-date {
    padding: 0 1.5em;
    font-size: 1.25rem;
    top: 37vh;
    left: 0;
  }
  .memorial-feature {
    padding: 0;
  }
  .survivor {
    margin-top: 0;
    h3 {
      padding-left: 3rem;
    }
  }
  .victim-row > .victim-card > .victim-name {
    font-size: 1.5em;
    margin-top: 12em;
  }
  .placeholder {
    display: none;
  }
  .byline-illo {
    margin-left: 1em;
  }
}
@include media-query($sm) {
  img.memorial {
    width: 100%;
  }
  .victim-row.sm {
    display: none;
  }
  .victim-row {
    display: flex;
  }
  .container.homepage {
    height: 100vh;
  }
  h1.section-head {
    font-size: 2.5em;
    margin-top: 0;
  }

  .container.summary {
    padding: 0;
  }

  div.column.summary {
    padding-left: 0;
    padding: 3rem;
  }

  div.col-12.summary.victim-grid {
    padding: 3rem 0 0 0;
    h1.section-head {
      padding-left: 3rem;
    }
  }
  .victim-row {
    flex-direction: column;
  }
  p.section-summary {
    padding: 3rem;
    margin: 0;
    margin-bottom: 1em;
  }
  .story-card-container {
    flex-direction: column;
  }
  .story-card {
    margin: 0 0 1em 0;
  }
  div.two-panel {
    flex-direction: column;
    div.col-6 {
      width: 100%;
    }
  }
  .headline-main {
    text-align: center;
    font-size: 6em;
    left: 0;
    top: 40vh;
  }
  .headline-sub {
    text-align: left;
    top: 38vh;
    font-size: 1.25em;
    left: 0;
    padding: 0 1em;
    line-height: 1.6;
  }
  .headline-byline {
    font-size: 1.25rem;
    text-align: left;
    top: 37vh;
    padding: 0 1.5em;
    left: 0;
  }
  .headline-date {
    padding: 0 1.5em;
    font-size: 1.25rem;
    top: 37vh;
    left: 0;
  }
  .memorial-feature {
    padding: 0;
  }
  .survivor {
    margin-top: 0;
    h3 {
      padding-left: 3rem;
    }
  }
  .victim-row > .victim-card > .victim-name {
    font-size: 1.5em;
    margin-top: 12em;
  }
  .placeholder {
    display: none;
  }
  .byline-illo {
    margin-left: 1em;
  }
}

@include media-query($xs) {
  .headline-main {
    font-size: 5em;
  }
  .victim-row > .victim-card > .victim-name {
    margin-top: 10.5em;
  }
}
@include media-query($xss) {
  .headline-main {
    font-size: 4em;
  }
  .victim-row > .victim-card > .victim-name {
    margin-top: 9em;
  }
  .headline-main {
    top: 40vh;
  }
  .headline-sub {
    top: 37vh;
  }
  .headline-byline {
    top: 37vh;
  }
  .headline-date {
    top: 37vh;
  }
}


