.byline-illo {
  color: $grey-color;
  font-size: 1rem;
  font-family: Merriweather;
  margin-left: 1em;
  margin-top: 1em;
}

.headline-main {
  color: #fff;
  font-family: Merriweather;
  font-size: 6em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: .5em
}

.headline-sub {
  color: #fff;
  font-family: Merriweather;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: 2em;
  font-style: italic;
}

.headline-byline {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
}

.headline-date {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
}
.container.homepage {
  background: $theme_orange;
  height: 100vh;
  display: flex;
}

div.container.article {
  display: flex;
  flex-direction: row;
  p {
    font-family: Merriweather;
    font-size: 1.75rem;
    line-height: 1.6;
  }
}

div.column.article {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-bottom: 5vh;
}

div.column.interactive {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 10vw;

  p.small {
    color: #a0a0a0;
    font-size: 1.25rem;
    font-family: Merriweather;
    margin-top: .5em;
  }

}