.byline-illo {
  color: $grey-color;
  font-size: 1rem;
  font-family: Merriweather;
  margin-left: 1em;
  margin-top: 1em;
}

.headline-main {
  color: #fff;
  font-family: Merriweather;
  font-size: 6em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: .5em
}

.headline-sub {
  color: #fff;
  font-family: Merriweather;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
  top: 55vh;
  left: 2em;
  font-style: italic;
}

.headline-byline {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
}

.headline-date {
  color: #fff;
  position: relative;
  top: 55vh;
  left: 3em;
  text-transform: uppercase;
}

.container.homepage {
  background: $theme_orange;
  height: 100vh;
  display: flex;
}

div.container.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
}

div.column.introduction {
  border-bottom: 1px solid lightgray;
  padding: 2em 25vw 2em 25vw;

  p {
    font-family: Merriweather;
    font-size: 1.75rem;
    line-height: 1.6;
  }

}

div.column.article {
  border-bottom: 1px solid lightgray;
  padding: 3rem;
  padding-left: 5rem;

  &:last-of-type {
    border-bottom: 0;
  }

  h1.section-head {
    font-style: italic;
  }

  h3.section-subhead {
    color: $grey-color-dark;
    font-size: 1.5em;
  }
}

div.two-panel {
  display: flex;
  flex-direction: row;

  div.col-6 {
    flex: 1;
    padding: 0;
  }
}

div.column.interactive {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 10vw;

  p.small {
    color: #a0a0a0;
    font-size: 1.25rem;
    font-family: Merriweather;
    margin-top: .5em;
  }

}

// SPECIAL ARTICLE STYLES

div.col-12.article.victim-grid {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem 5rem 5rem;

}

.victim-row {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height: 30px;

  .victim-card {
    background: lightgray;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;
    align-items: flex-end;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    .victim-name {
      text-shadow: 0 1px 0 black;
      margin-top: 9em;
      font-size: 1.25em;
      font-weight: 300;
    }

  }
}

// CARDS

.story-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

// Invididual card styles

.story-card {
  border-radius: 5px;
  @include BoxShadow();
  flex: 1;
  margin: 1em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    @include BoxShadowHover();
  }

  .story-card-title {
    color: $link-color;

    &:hover {
      color: darken($link-color, 20%);
    }
  }
}

.story-card-header {
  padding: 2em;

  a {
    font-size: 1.75em;
    font-family: Merriweather, serif;
  }
}

.story-card-content {
  padding: 2em;
  p.story-card-summary, ul, li {
    font-size: 1.1em;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
  }

  ul {
    margin: 0;
  }

  li {
    margin-top: 0;
    list-style-type: none;
    font-style: italic;
    font-size: 1em;
  }
}

.story-card-share {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  padding: 1em 2em;
  margin-bottom: 1em;

  a > i {
    color: $grey-color;
    margin-left: 1em;

    &:hover {
      color: darken($grey-color, 20%);
    }
  }
}


// RESPONSIVE

@include media-query($xl) {

}

@include media-query($lg) {

}

@include media-query($md) {

}

@include media-query($sm) {

}

@include media-query($xs) {
  .container.homepage {
    height: 100vh;
  }
  .col-12.column.introduction {
    padding: 2em 10vw 2em 10vw;
  }
  h1.section-head {
    font-size: 2.5em;
    margin-top: 0;
  }
  div.column.article {
    padding-left: 0;
    padding: 3rem;
  }
  div.col-12.article.victim-grid {
    padding: 3rem 0 0 0;
    h1.section-head {
      padding-left: 3rem;
    }
  }
  .victim-row {
    flex-direction: column;
  }
  .story-card-container {
    flex-direction: column;
  }
  .story-card {
    margin: 0 0 1em 0;
  }
  div.two-panel {
    flex-direction: column;
    div.col-6 {
      width: 100%;
    }
  }
  .headline-main {
    text-align: center;
    font-size: 5em;
    left: 0;
    top: 45vh;
  }
  .headline-sub {
    text-align: left;
    top: 44vh;
    font-size: 1.25em;
    left: 0;
    padding: 0 1em;
  }
  .headline-byline {
    font-size: 1.25rem;
    text-align: left;
    top: 44vh;
    padding: 0 1.5em;
    left: 0;
  }
  .headline-date {
    padding: 0 1.5em;
    font-size: 1.25rem;
    top: 45vh;
    left: 0;
  }
}
@include media-query($xss) {
  .headline-main {
    font-size: 4em;
  }
}


