html, body {
  overflow-x: hidden;
}
// typog

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: normal;
}
p, a, li, ul, span, pre, code, i  {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

vr {
  border-left: 1px solid white;
  margin-left: 1em;
  margin-right: 1em;
}

hr {
  margin: .5em 0 .5em 0;
  border-bottom: 1px solid $grey-color-light;
  color: lighten($grey-color, 20%);
}

// navbar

.navbar-top {
  align-content: center;
  background: $theme_orange;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1em;

  #share-menu-trigger, #content-menu-trigger {
    border-radius: 5px;
    color: #fff;
    font-family: Roboto, sans-serif;
    height: 2em;
    line-height: 2;
    padding: .5em 1em;
    &:hover, &:active {
      background: darken($theme_orange, 5%);
    }
    font-weight: 400;
  }
  
  i {
    color: #fff;
  }
  #center-contain {
    line-height: 2.5;
  }
}

.navbar-top.fixed {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  border-bottom: 1px solid $grey-color-dark;
  height: 7vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
  #center-contain {
    span {
      color: $grey-color-dark;
    }
    
    vr {
      border-left-color: $grey-color-dark;
    }
  }

  #share-menu-trigger, #content-menu-trigger, #share-menu-trigger-fixed, #content-menu-trigger-fixed {
    border-radius: 5px;
    border: 1px solid lightgray;
    color: $grey-color-dark;
    font-family: Roboto, sans-serif;
    height: 2em;
    line-height: 2;
    padding: .5em 1em;
    &:hover, &:active {
      background: darken(#fff, 5%);
    }
    font-weight: 400;
  }

  i {
    color: $grey-color-dark;
  }
}

.navbar-brand {
  color: #fff;
  font-family: Merriweather;
  font-size: 1.25em;
  text-align: center;
  line-height: 1;
}

.center-contain {
  display: flex;
  justify-content: center;
}

span.navbar-brand.feature {
  font-family: Roboto, sans-serif;
}

a {
  .fa.fa-share:after {
    content: "Share";
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    margin-left: .5em;
    font-weight: bolder;
  }

  .fa.fa-close:after {
    content: "Close";
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: .5em;
  }
}

// content menu

.contents-menu {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  position: fixed;
  text-align: center;
  height: 100vh;
  top: 0;
  left: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  z-index: 100;
  overflow: auto;

  div {
    padding: 2em 2em 1em 2em;
  }

  a > p {
    color: $text_color;
    font-size: 1.25em;
    margin-bottom: 2em;
  }
  
  a {
    color: $link-color;
  }

  a:hover {
    color: darken($link_color, 25%);
  }

  .contents-menu-header {
    border-bottom: 1px solid lightgray;
    span {
      font-family: Merriweather, serif;
      font-size: 1.5em;
    }
    i {
      color: $grey-color-dark;
      margin-left: 2em;
      &:hover, &:active {
        color: $grey-color;
      }
    }
  }

}

.contents-menu-item {
  border-bottom: 1px solid lightgray;
  p {
    text-align: left;
    font-size: 1.25em;
    font-family: Merriweather, serif;
    font-style: italic;
  }
  &:hover {
    background: darken(#fff, 2.5%);
  }
}

.contents-menu-scrim  {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
// sharing menu

.share-menu {
  display: none;
  position: absolute;
  text-align: center;
  top: 4em;
  right: 1em;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0;
  z-index: 25;

  a > p {
    color: $text_color;
    font-size: 1.25em;
    margin-bottom: 2em;
  }
  
  a:hover {
    color: darken($text_color, 25%);
  }
}

.menu-header {
  border: none;
}


// footer

#to-top {
  display: none;
  background: #fff;
  border: 1px solid $grey-color;
  color: $grey-color;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-family: Roboto, sans-serif;
  
  &:hover {
    background: darken(#fff, 5%);
  }
}

footer {
  border-top: 1px solid lightgray;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 2em 4em;
  
  p, a, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    color: darken($grey-color, 10%);
  }

  a {
    color: darken($grey-color, 30%);
  }
  
  a:hover {
    color: $grey-color-dark;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  h3 {
    color: darken($grey-color, 20%);
    font-size: 1.75em;
  }

  div {
    flex: 1;
  }
}

h3.list-header {
  margin: 0;
}

ul.footer-list {
  li {
    font-family: Merriweather, serif;
  }
}

div.footer-disclaimer {
  text-align: right;
}

div.footer-contact {
  text-align: center;
  display: flex;
  flex-direction: column;

  ul.footer-contact-list {
    button, button > p {
      background: #fff;
      border: 1px solid darken($grey-color, 30%);
      color: darken($grey-color, 30%);
    }

    button:hover, button > p:hover {
      border-color: $grey-color-dark;
      background: darken(#fff, 5%);
      color: $grey-color-dark;
    }

    a > button > i {
      margin-right: 1em;
    }
  }
}
