// content menu

.contents-menu {
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  position: fixed;
  text-align: center;
  height: 100vh;
  top: 0;
  left: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  z-index: 100;
  overflow: auto;

  div {
    padding: 2em 2em 1em 2em;
  }

  a > p {
    color: $text_color;
    font-size: 1.25em;
    margin-bottom: 2em;
  }

  a {
    color: $link-color;
  }

  a:hover {
    color: darken($link_color, 25%);
  }

  .contents-menu-header {
    border-bottom: 1px solid lightgray;
    span {
      font-family: Merriweather, serif;
      font-size: 1.5em;
    }
    i {
      color: $grey-color-dark;
      margin-left: 2em;
      &:hover, &:active {
        color: $grey-color;
      }
    }
  }

}

.contents-menu-item {
  border-bottom: 1px solid lightgray;
  p {
    text-align: left;
    font-size: 1.25em;
    font-family: Merriweather, serif;
    font-style: italic;
  }
  &:hover {
    background: darken(#fff, 2.5%);
  }
}

.contents-menu-scrim  {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
// sharing menu

.share-menu {
  display: none;
  position: absolute;
  text-align: center;
  top: 4em;
  right: 1em;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0;
  z-index: 25;

  a > p {
    color: $text_color;
    font-size: 1.25em;
    margin-bottom: 2em;
  }

  a:hover {
    color: darken($text_color, 25%);
  }
}

.menu-header {
  border: none;
}


@include media-query($xl) {

}

@include media-query($lg) {

}

@include media-query($md) {

}

@include media-query($sm) {

}

@include media-query($xs) {
  .contents-menu {
    width: 100%;
    height: 100vh;

    div {
      padding: 1em;
    }
  }
  .contents-menu-scrim {
    display: none;
  }
  .contents-menu-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .contents-menu-item {
    p {
      font-size: 1.75em;
      text-align: center;
      margin-bottom: 0;
    }
  }
}