{% include head.html %}
{% include header.html %}
<div class="container homepage">
    <div class="col-12 column"><h1 class="headline-main"> {{ site.title }}</h1>
        <h3 class="headline-sub"> {{ site.subhead }}</h3>
        <p class="headline-byline"> By Junyuan Tan, John Doe, James Doe, Jane Doe</p>
        <p class="headline-date"> August 1, 2016</p></div>
</div>
<p class="byline-illo">Illustration by John Doe</p>
<div class="container article">
    <div class="col-12 column introduction">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tincidunt augue. In at dui odio.
            Pellentesque dapibus ante quis ante lobortis fermentum. Quisque eget bibendum leo. Nam luctus libero ac
            mattis ultrices. Suspendisse rhoncus fringilla felis. Cras vel dictum ante, eget ultrices quam. Donec lectus
            mauris, elementum et tortor at, rutrum viverra urna. Etiam eget maximus purus. Ut volutpat condimentum diam,
            vitae fermentum augue auctor quis. Mauris id magna sit amet ante lobortis dignissim. Sed malesuada, libero
            et interdum aliquam, neque eros condimentum enim, eget ultricies turpis metus eu neque.
        </p>
    </div>
    <div class="col-12 column article" id="sniper">
        <h1 class="section-head">The Sniper</h1>
        <div class="story-card-container">
            {% for post in site.categories.sniper %}
            {% endfor %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="#" class="story-card-title">Story Headline</a>
                </div>
                <img src="assets/img/test.jpg" class="story-card-img img-responsive" alt="{{ post.title }}">
                <div class="story-card-content">
                    <p class="story-card-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id
                        tincidunt augue. In at dui odio.</p>
                </div>
                <div class="story-card-share">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
        </div>
    </div>
    <div class="col-12 column article victim-grid" id="victims">
        <h1 class="section-head">The Victims</h1>
        <div class="victim-row">
            {% for post in site.categories.victim limit: 5 %}
            <div class="victim-card"
                 style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url(assets/img/test.jpg);"
                 onmouseover="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(assets/img/test.jpg)');"
                 onmouseout="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(assets/img/test.jpg)');"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row">
            {% for post in site.categories.victim limit: 5 offset: 5 %}
            <div class="victim-card"
                 style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url(assets/img/test.jpg);"
                 onmouseover="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(assets/img/test.jpg)');"
                 onmouseout="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(assets/img/test.jpg)');"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row">
            {% for post in site.categories.victim limit: 5 offset: 10 %}
            <div class="victim-card"
                 style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url(assets/img/test.jpg);"
                 onmouseover="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(assets/img/test.jpg)');"
                 onmouseout="$(this).css('background','linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(assets/img/test.jpg)');"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 column article" id="heroes">
        <h1 class="section-head">The Heroes</h1>
        <div class="story-card-container">
            {% for post in site.categories.sniper %}
            {% endfor %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url }}" class="story-card-title">Story Headline</a>
                </div>
                <img src="assets/img/test.jpg" class="story-card-img img-responsive" alt="{{ post.title }}">
                <div class="story-card-content">
                    <p class="story-card-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id
                        tincidunt augue. In at dui odio.</p>
                </div>
                <div class="story-card-share">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
        </div>
    </div>
    <div class="col-12 column article" id="survivors">
        <h1 class="section-head">The Survivors</h1>
        <div class="story-card-container">
            <div class="story-card">
                <div class="story-card-header" style="padding-bottom: 0;">
                    <a href="{{ post.url }}" class="story-card-title">Survivors of the shooting</a>
                </div>
                <div class="story-card-content" style="padding-top: 0;">
                    <ul>
                        <li>Hello world this is</li>
                        <li>World a person</li>
                    </ul>
                </div>
                <div class="story-card-share">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="story-card">

            </div>
            {% for post in site.categories.sniper %}
            {% endfor %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url }}" class="story-card-title">Story Headline</a>
                </div>
                <img src="assets/img/test.jpg" class="story-card-img img-responsive" alt="{{ post.title }}">
                <div class="story-card-content">
                    <p class="story-card-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id
                        tincidunt augue. In at dui odio.</p>
                </div>
                <div class="story-card-share">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 column article" id="inside-tower">
        <h1 class="section-head">Inside the Tower</h1>
        <h3 class="section-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id
            tincidunt augue. In at dui odio.</h3>
        <div class="two-panel">
            <div class="col-6 column left">
                <img src="assets/img/test.jpg" class="img-responsive" alt="{{ post.title }}">
            </div>
            <div class="col-6 column right">
                <img src="assets/img/test.jpg" class="img-responsive" alt="{{ post.title }}">
            </div>
        </div>
    </div>
    <div class="col-12 column article" id="memorial">
        <h1 class="section-head">The Memorial</h1>
    </div>
    <div class="col-12 column article" id="texan">
        <h1 class="section-head">The Texan</h1>
        <div class="story-card-container">
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url }}" class="story-card-title">Story Headline</a>
                </div>
                <img src="assets/img/test.jpg" class="story-card-img img-responsive" alt="{{ post.title }}">
                <div class="story-card-content">
                    <p class="story-card-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id
                        tincidunt augue. In at dui odio.</p>
                </div>
                <div class="story-card-share">
                    <a href="#">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
            <div class="story-card">

            </div>
        </div>
    </div>

</div>
{% include footer.html %}