{% include head.html %}
{% include header.html %}
<div class="container homepage lazy" style="background:linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url({{ '/assets/img/towerheader.jpg' | prepend: site.baseurl }});">
    <div class="col-12 column">
        <h1 class="headline-main animated fadeIn"> {{ site.title }}</h1>
        <h3 class="headline-sub animated fadeIn"> {{ site.subhead }}</h3>
        <p class="headline-byline animated fadeIn"> By The Daily Texan Staff</p>
        <p class="headline-date animated fadeIn"> August 1, 2016</p></div>
</div>
<p class="byline-illo homepage">Illustration by Amber Perry</p>
<div class="container summary">
    <div class="col-12 column introduction wow fadeIn">
        <p>
            There is no University of Texas without the Tower shooting of 1966. Whether they know it or not, the students that have walked the campus have carried that history with them every day since. The massacre that occurred that summer day left a school, a city and a nation horrified and confused. Today, our students are more familiar with those emotions than the unsuspecting victims and witnesses Whitman left in his wake. Now, fifty years later, we cannot afford to forget the events that took place in those 96 minutes.
        </p>
    </div>
    <div class="col-12 column summary wow fadeIn" id="sniper">
        <h1 class="section-head">The Sniper</h1>
        <div class="story-card-container">
            {% assign sorted_sniper_posts = (site.categories['sniper'] | sort: 'title') %}
            {% for post in sorted_sniper_posts %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href='{{ post.url | prepend: site.baseurl }}' class="story-card-title">{{ post.title }}</a>
                    <p class="story-card-byline">{%if post.author %}{{ post.author }}{% else %}Daily Texan Staff{% endif %}</p>
                </div>
                <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                     class="story-card-img img-responsive"
                     alt="{{ post.title }}"
                     data-src="{{ post.thumbnail }}"
                     data-src-small="{{ post.thumbnail-small }}">
                {% if post.img-credit %}     
                <span class="story-card-byline">{{ post.img-credit }}</span>
                {% endif %}
                <div class="story-card-content">
                   <p class="story-card-summary">{{ post.summary }}</p>
                </div>
                <div class="story-card-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/tower/" target="_blank">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/home?status=Five%20decades%20after%20the%20UT%20Tower%20shooting,%20The%20Daily%20Texan%20remembers%20those%20involved.%20http%3A//goo.gl/8RXWJj" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 column summary victim-grid wow fadeIn" id="victims">
        <h1 class="section-head">The Victims</h1>
        {% assign sorted_victim_posts = (site.categories['victim'] | sort: 'title') %}
        <div class="victim-row wow fadeIn">
            {% for post in sorted_victim_posts limit: 5 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row wow fadeIn">
            {% for post in sorted_victim_posts limit: 5 offset: 5 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row wow fadeIn">
            {% for post in sorted_victim_posts limit: 5 offset: 10 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row wow fadeIn">
            {% for post in sorted_victim_posts limit: 5 offset: 15 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
            <div class="victim-card placeholder"></div>
            <div class="victim-card placeholder"></div>
            <div class="victim-card placeholder"></div>
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 offset: 3 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 offset: 6 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 offset: 9 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 offset: 12 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="victim-row sm wow fadeIn">
            {% for post in sorted_victim_posts limit: 3 offset: 15 %}
            <div class="victim-card lazy"
                 data-src="{{ post.thumbnail }}"
                 onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                <h3 class="victim-name">{{ post.name }}</h3>
            </div>
            {% endfor %}
            <div class="victim-card placeholder"></div>
        </div>
        <p class="byline-illo">Illustrations by Jacky Tovar</p>
        <div class="survivor wow fadeIn">
            <h3>The Survivors</h3>
            <div class="victim-row wow fadeIn">
                {% for post in site.categories['survivor'] %}
                <div class="victim-card lazy"
                     data-src="{{ post.thumbnail }}"
                     onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                    <h3 class="victim-name">{{ post.name }}</h3>
                </div>
                {% endfor %}
                <div class="victim-card placeholder"></div>
                <div class="victim-card placeholder"></div>
                <div class="victim-card placeholder"></div>
            </div>
            <div class="victim-row sm wow fadeIn">
                {% for post in site.categories['survivor'] %}
                <div class="victim-card lazy"
                     data-src="{{ post.thumbnail }}"
                     onclick="document.location = '{{ post.url | prepend: site.baseurl }}'">
                    <h3 class="victim-name">{{ post.name }}</h3>
                </div>
                {% endfor %}
                <div class="victim-card placeholder"></div>
            </div>
            <p class="byline-illo">Left: Photo Courtesy of Roland Ehlke | Right: </p>
        </div>
        <div class="memorial-feature wow fadeIn">
            {% for post in site.categories['victim_story'] %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h3>{{ post.title }}</h3>
            </a>
            <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                 class="memorial img-responsive"
                 alt="{{ post.title }}"
                 data-src="{{ post.thumbnail }}"
                 data-src-small="{{ post.thumbnail-small }}">
            <p class="byline-illo">Photo by Joshua Guerra</p>
            <p class="memorial-feature-summary">
                {{ post.summary }}
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 column summary wow fadeIn" id="heroes">
        <h1 class="section-head">The Heroes</h1>
        <div class="story-card-container">
            {% assign sorted_hero_posts = (site.categories['hero'] | sort: 'title') %}
            {% for post in sorted_hero_posts %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="story-card-title">{{ post.title }}</a>
                    <p class="story-card-byline">{%if post.author %}{{ post.author }}{% else %}Daily Texan Staff{% endif %}</p>
                </div>
                <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                     class="story-card-img img-responsive"
                     alt="{{ post.title }}"
                     data-src="{{ post.thumbnail }}"
                     data-src-small="{{ post.thumbnail-small }}">
                {% if post.img-credit %}     
                <span class="story-card-byline">{{ post.img-credit }}</span>
                {% endif %}
                <div class="story-card-content">
                    <p class="story-card-summary">{{ post.summary }}</p>
                </div>
                <div class="story-card-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/tower/" target="_blank">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/home?status=Five%20decades%20after%20the%20UT%20Tower%20shooting,%20The%20Daily%20Texan%20remembers%20those%20involved.%20http%3A//goo.gl/8RXWJj" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 column summary wow fadeIn" id="inside-tower">
        <h1 class="section-head">Inside the Tower</h1>
        <!--<div class="two-panel">
            <div class="col-6 column left">
                <img src="assets/img/test.jpg" class="img-responsive" alt="{{ post.title }}">
            </div>
            <div class="col-6 column right">
                <img src="assets/img/test.jpg" class="img-responsive" alt="{{ post.title }}">
            </div>
        </div>-->
        <div class="story-card-container">
            {% assign sorted_tower_posts = (site.categories['tower'] | sort: 'title') %}
            {% for post in sorted_tower_posts %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="story-card-title">{{ post.title }}</a>
                    <p class="story-card-byline">{%if post.author %}{{ post.author }}{% else %}Daily Texan Staff{% endif %}</p>
                </div>
                <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                     class="story-card-img img-responsive"
                     alt="{{ post.title }}"
                     data-src="{{ post.thumbnail }}"
                     data-src-small="{{ post.thumbnail-small }}">
                {% if post.img-credit %}
                <span class="story-card-byline">{{ post.img-credit }}</span>
                {% endif %}
                <div class="story-card-content">
                    <p class="story-card-summary">{{ post.summary }}</p>
                </div>
                <div class="story-card-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/tower/" target="_blank">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/home?status=Five%20decades%20after%20the%20UT%20Tower%20shooting,%20The%20Daily%20Texan%20remembers%20those%20involved.%20http%3A//goo.gl/8RXWJj" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 column summary wow fadeIn" id="texan">
        <h1 class="section-head">The Texan</h1>
        <div class="story-card-container">
            {% assign sorted_texan_posts = (site.categories['texan'] | sort: 'title') %}
            {% for post in sorted_texan_posts %}
            <div class="story-card">
                <div class="story-card-header">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="story-card-title">{{ post.title }}</a>
                    <p class="story-card-byline">{%if post.author %}{{ post.author }}{% else %}Daily Texan Staff{% endif %}</p>
                </div>
                <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                     class="story-card-img img-responsive"
                     alt="{{ post.title }}"
                     data-src="{{ post.thumbnail }}"
                     data-src-small="{{ post.thumbnail-small }}">
                {% if post.img-credit %}     
                <span class="story-card-byline">{{ post.img-credit }}</span>
                {% endif %}
                <div class="story-card-content">
                    <p class="story-card-summary">{{ post.summary }}</p>
                </div>
                <div class="story-card-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dailytexanonline.com/features/tower/" target="_blank">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/home?status=Five%20decades%20after%20the%20UT%20Tower%20shooting,%20The%20Daily%20Texan%20remembers%20those%20involved.%20http%3A//goo.gl/8RXWJj" target="_blank">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% include footer.html %}