{% include head.html %}
{% include header.html %}
<div class="container homepage">
    <div class="col-12 column"><h1 class="headline-main"> {{ site.title }}</h1>
        <h3 class="headline-sub"> {{ site.subhead }}</h3>
        <p class="headline-byline"> By Junyuan Tan, John Doe, James Doe, Jane Doe</p>
        <p class="headline-date"> August 1, 2016</p></div>
</div>
<p class="byline-illo">Illustration by John Doe</p>
<div class="container article">
    <div class="col-6 column article">

    </div>
    <div class="col-6 column interactive">

    </div>
</div>
{% include footer.html %}